.home-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* VIDEO CA BACKGROUND */
  background: url('/my-react-app/public/video3.mp4') no-repeat center center / cover;
}


.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;               /* video sub text */
}

.home_content {
  position: absolute;       /* se raportează la .home-container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;               /* text deasupra video */
  color: white;
  text-align: center;
  width: 100%;              /* optional, dacă ai text multi-linie */
}
